# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Set the location of the .pem file
PRIVATE_KEY_PATH=

# This should not exist here
PASSWORD=

# Set the link for this api of the telegram deployment
TELEGRAM_BOT_LINK=https://telegram-bots-xxxx.vercel.app/api/cops_bot_callback.ts

# Repository specific to be set once setuped with a repo
INSTALLATION_ID=
